header {
  background-color: #fff;
  border-bottom: 1px solid #e72929;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
}
